<h1>Add a Score</h1>

<form>
    <div class="form-group">
        <label>Course</label>
        <input class="form-control" ng-model="score.course"></input>
    </div>
    <div class="form-group">
        <label>Score</label>
        <input class="form-control" ng-model="score.score"></input>
    </div>
    <div class="form-group">
        <label>Date</label>
        <input class="form-control" ng-model="score.date"></input>
    </div>
    <input type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>
</form>
